<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowsApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B19A76E13CD2113586FA39AB5C8C16777253FF9A</string>
				<key>dateExpires</key>
				<string>27/10/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B19A76E13CD2113586FA39AB5C8C16777253FF9A</string>
						<key>dateExpires</key>
						<string>27/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KAPinField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3J488KW82</string>
						<key>name</key>
						<string>Giovanni Bruno</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B19A76E13CD2113586FA39AB5C8C16777253FF9A</string>
						<key>dateExpires</key>
						<string>27/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3J488KW82</string>
						<key>name</key>
						<string>Giovanni Bruno</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B19A76E13CD2113586FA39AB5C8C16777253FF9A</string>
						<key>dateExpires</key>
						<string>27/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3J488KW82</string>
						<key>name</key>
						<string>Giovanni Bruno</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A3J488KW82.dev.giovannibruno.ShowsApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A3J488KW82</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>A3J488KW82.dev.giovannibruno.ShowsApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>ShowsApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>da2eb6b7-579f-49c8-914c-d2cadbc8c291</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A3J488KW82</string>
				<key>name</key>
				<string>Giovanni Bruno</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
